In [34]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\ofek3\OneDrive\Desktop\Idea_1973_Code\data\nberces5818v1_n2012.csv")

df.head()

,naics,year,emp,pay,prode,prodh,prodw,vship,matcost,vadd,...,equip,plant,piship,pimat,piinv,pien,dtfp5,tfp5,dtfp4,tfp4
0,311111,1958,18.0,81.3,12.0,25.7,49.8,1042.4,752.4,266.9,...,517.6,695.0,0.354,0.133,0.168,0.116,NaN,0.317,NaN,0.318
1,311111,1959,17.9,82.5,11.8,25.5,49.4,1051.0,758.9,268.7,...,573.7,725.3,0.345,0.131,0.169,0.115,0.002,0.318,0.002,0.318
2,311111,1960,17.7,84.8,11.7,25.4,50.0,1050.2,752.8,269.9,...,611.6,739.2,0.274,0.129,0.173,0.119,0.217,0.394,0.216,0.395
3,311111,1961,17.5,87.4,11.5,25.4,51.4,1119.7,803.6,287.8,...,642.6,752.0,0.273,0.131,0.172,0.117,0.024,0.404,0.024,0.405
4,311111,1962,17.6,90.2,11.5,25.2,52.1,1175.7,853.3,294.5,...,669.1,768.7,0.277,0.132,0.174,0.119,-0.007,0.401,-0.007,0.402

In [36]:
df.columns

# יצירת משתנים ריאליים על ידי חלוקה במדדי המחירים (Deflators)
df['real_energy'] = df['energy'] / df['pien']
df['real_vship'] = df['vship'] / df['piship']

# בדיקה קצרה של העמודות החדשות
df[['year', 'energy', 'real_energy', 'vship', 'real_vship']].head()

   year  energy  real_energy   vship   real_vship
0  1958     7.0    60.344829  1042.4  2944.632751
1  1959     7.7    66.956521  1051.0  3046.376822
2  1960     8.5    71.428570  1050.2  3832.846869
3  1961     9.3    79.487180  1119.7  4101.465173
4  1962    10.1    84.873948  1175.7  4244.404179

In [37]:
# חישוב היחס בין אנרגיה ריאלית לתפוקה ריאלית
df['real_energy_intensity'] = df['real_energy'] / df['real_vship']

# הערה: עדיף להשתמש בקו תחתון (_) בשמות עמודות במקום רווח
df[['year', 'naics', 'real_energy_intensity']].head()

   year   naics  real_energy_intensity
0  1958  311111               0.020493
1  1959  311111               0.021979
2  1960  311111               0.018636
3  1961  311111               0.019380
4  1962  311111               0.019997

In [38]:
missing_count = df['real_energy_intensity'].isnull().sum()
missing_count

np.int64(117)

In [39]:
# 1. הסרת שורות שבהן חסר מידע קריטי (כמו TFP או עצימות אנרגיה)
df_clean = df.dropna(subset=['real_energy_intensity', 'tfp5']).copy()

# 2. סינון השנים המדויקות למחקר: לפני המשבר, המשבר, וההתאוששות (1960-1990)
df_final = df_clean[(df_clean['year'] >= 1960) & (df_clean['year'] <= 1990)]

# בדיקה כמה נתונים נשארו לנו בסט הסופי
df_final.shape

(11191, 27)

In [40]:
df

,naics,year,emp,pay,prode,prodh,prodw,vship,matcost,vadd,...,pimat,piinv,pien,dtfp5,tfp5,dtfp4,tfp4,real_energy,real_vship,real_energy_intensity
0,311111,1958,18.0,81.3,12.0,25.7,49.8,1042.4,752.4,266.9,...,0.133,0.168,0.116,NaN,0.317,NaN,0.318,60.344829,2944.632751,0.020493
1,311111,1959,17.9,82.5,11.8,25.5,49.4,1051.0,758.9,268.7,...,0.131,0.169,0.115,0.002,0.318,0.002,0.318,66.956521,3046.376822,0.021979
2,311111,1960,17.7,84.8,11.7,25.4,50.0,1050.2,752.8,269.9,...,0.129,0.173,0.119,0.217,0.394,0.216,0.395,71.428570,3832.846869,0.018636
3,311111,1961,17.5,87.4,11.5,25.4,51.4,1119.7,803.6,287.8,...,0.131,0.172,0.117,0.024,0.404,0.024,0.405,79.487180,4101.465173,0.019380
4,311111,1962,17.6,90.2,11.5,25.2,52.1,1175.7,853.3,294.5,...,0.132,0.174,0.119,-0.007,0.401,-0.007,0.402,84.873948,4244.404179,0.019997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22199,339999,2014,58.3,2657.0,35.5,67.6,1167.7,13857.3,5213.5,8686.0,...,1.012,1.014,1.183,-0.011,1.044,-0.011,1.044,68.469993,13871.170992,0.004936
22200,339999,2015,58.5,2738.9,34.6,66.7,1190.0,13848.1,5018.4,8883.6,...,0.983,1.015,1.167,-0.007,1.038,-0.007,1.037,68.894598,13670.384841,0.005040
22201,339999,2016,57.2,2807.3,34.3,65.7,1255.5,13997.7,4981.3,8994.6,...,0.972,1.013,1.125,0.013,1.051,0.013,1.051,69.155556,13804.437078,0.005010
22202,339999,2017,49.1,2381.6,32.5,60.3,1259.4,11981.0,4404.1,7569.6,...,1.003,NaN,1.253,NaN,NaN,NaN,NaN,54.748602,11757.604879,0.004656
22203,339999,2018,53.6,2654.2,35.0,60.2,1327.6,13153.5,4750.1,8472.1,...,1.040,NaN,1.278,NaN,NaN,NaN,NaN,56.338028,12820.175153,0.004394

In [41]:
df.columns

Index(['naics', 'year', 'emp', 'pay', 'prode', 'prodh', 'prodw', 'vship',
       'matcost', 'vadd', 'invest', 'invent', 'energy', 'cap', 'equip',
       'plant', 'piship', 'pimat', 'piinv', 'pien', 'dtfp5', 'tfp5', 'dtfp4',
       'tfp4', 'real_energy', 'real_vship', 'real_energy_intensity'],
      dtype='object')